body{
	margin: 0;
	padding: 0;
}


a{
	text-decoration: none;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

/*Внешний вид меню*/

.side{
	width: 200px;
	margin: 20px;
}
.menu a{
	background: #3d3d3d;
	color:#fff;
	padding: 10px;
	display: block;
	border-bottom: 1px solid #666;
	transition:0.5s all;
}

.menu a:hover{
	background: #666;
	padding: 10px 0 10px 20px;
}

.menu li:first-child a,.menu li .menu__drop li:first-child a{
	border-radius: 3px 3px 0 0;
}

.menu li:last-child a,.menu li .menu__drop li:last-child a{
	border-radius: 0 0 3px 3px;
	border-bottom:0;
}

.menu li .menu__drop li a{
	border-radius:0;
}

/*Всплывающее меню*/

.menu__list{
	position:relative;
}

.menu__drop{
	position: absolute;
	width: 100%;
	left:100%;
	opacity: 0;
	top:-9999em;
	transition:0.5s opacity;
	border-left: 10px solid transparent;
}

.menu__list:hover .menu__drop{
	opacity: 1;
	top:0;
}

/*Иконки для всплывающих меню*/

.menu__list::after{
content:'';
position: absolute;
border: 6px solid;
top: 13px;
left: 175px;
border-color:transparent transparent transparent #fff;
transition:0.5s background;
}

.menu__list:hover::after{
	border-color:transparent #fff transparent transparent;
}
